@page "/"
@using Blazor.FullApp.ViewModels

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Wellcome to the Blazor.FullApp!</h1>

                The objetive of this application is use as a playground and a template to create a full-stack application
                making the best of a .Net application regarding what's new and recommended on the platform.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Todo list</h4>
                <ul class="list-group list-group-full">
                    @{
                        foreach(var item in ToDoList)
                        {
                            <li class="list-group-item"> @item.Description <span class="badge badge-info ml-auto">@item.Tag</span></li>
                        }
                    }
                </ul>                
            </div>
        </div>
    </div>
</div>

@code {
    private List<ToDoItem> ToDoList = new()
    {
        new ToDoItem { Tag = "Blazor Components", Description = "Integrate Blazor With SmartAdmin bootstrap template" },
        new ToDoItem { Tag = "Blazor Components", Description = "Create modal component for confirmation and toasts" },
        new ToDoItem { Tag = "Auth", Description = "Integrate with JWT" },
        new ToDoItem { Tag = "Auth", Description = "Create login page" },
        new ToDoItem { Tag = "Auth", Description = "Create auth management area" },
        new ToDoItem { Tag = "Auth", Description = "Use secrets to handle deployable and sensitive settings" },
        new ToDoItem { Tag = "Datastore", Description = "Integrate with Azure Cosmos DB and Entity Framework" },
        new ToDoItem { Tag = "Datastore", Description = "Use azure variables to handle connection strings" },
        new ToDoItem { Tag = "Architecture", Description = "Implement CleanArchitecture with CQS" },
    };
}
